<div class="row">
  <div class="col-xs-12 center">
    <h2>パスワードを忘れましたか？</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render 'layouts/errors', obj: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <br>
      <div class="actions">
        <%= f.submit "パスワード再設定メールを送る", class: "btn btn-default" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
