<div class="row">
  <div class="col-xs-12 center">
    <h2>新規投稿</h2>

    <%= form_for(@post) do |f| %>
      <%= render 'layouts/errors', obj: @post %>

      <div class="field">
        <%= f.text_field :title, class: "title", size: "61x10", placeholder: "タイトル" %>
      </div>

      <div class="field">
        <%= f.text_area :body, class: "body", size: "60x10", placeholder: "本文" %>
      </div>

      <div class="field">
        <%= f.text_field :article_url, class: "article_url", size: "61x10", placeholder: "元記事URL" %>
      </div>

      <br>
      <div class="field">
        <%= f.label :"カテゴリ(複数選択可)" %>
        <br>
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
          <%= category.label do %>
            <%= category.check_box %>
            <%= category.text %>
          <% end %>
        <% end %>
      </div>

      <br>
      <div class="actions">
        <%= f.submit "新規投稿", class: "btn btn-default" %>
      </div>
    <% end %>

  </div>
</div>
