<div class="row">
  <div class="col-xs-6">

    <%= form_for @category, url: categories_path do |f| %>

      <!-- エラーメッセージ -->
      <%= render 'layouts/errors', obj: @category %>

      <!-- 入力フォーム -->
      <div class="category-field">
        <%= f.label :カテゴリ　%>
        <%= f.text_field :name %>
      </div>
      <div class="category-action">
        <%= f.submit "追加", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>

    <!-- カテゴリ一覧 -->
  <div class=col-xs-6>
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>カテゴリ一覧</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>